default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

default_stages:
  - commit
  - push

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-vcs-permalinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: debug-statements
      - id: no-commit-to-branch
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black>=24.1.1]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: Run codespell to check for common misspellings in files
        language: python
        types: [text]
        args: ["--write-changes", "--ignore-words-list", "asend"]

{% if cookiecutter.build_docker_image != "n" -%}
  - repo: https://github.com/hadolint/hadolint
    rev: v1.22.1
    hooks:
      - id: hadolint-docker
{%- endif %}

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - post-commit
          - push

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint

  - repo: local
    hooks:
      - id: style-reformat
        name: style-reformat
        stages: [commit]
        language: system
        pass_filenames: false
        entry: {{ cookiecutter.dependency_management_tool }} run inv style.format
        types: [python]

      - id: style-check
        name: style-check
        stages: [push]
        language: system
        pass_filenames: false
        entry: {{ cookiecutter.dependency_management_tool }} run inv style
        types: [python]

      - id: security-check
        name: security-check
        stages: [push]
        language: system
        pass_filenames: false
        entry: {{ cookiecutter.dependency_management_tool }} run inv secure
        types: [python]

      - id: test
        name: test
        stages: [push]
        language: system
        pass_filenames: false
        entry: {{ cookiecutter.dependency_management_tool }} run inv test -a
        types: [python]
