[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# task management
invoke = "*"
# test
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-xdist = "*"
hypothesis = "*"
# style
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
# security
bandit = "*"
# git
commitizen = "*"
coverage = {extras = ["toml"],version = "*"}
pre-commit = "*"

[packages]
