[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]

[dev-packages]
invoke = ">={{ cookiecutter._package_versions.invoke }}"

[test]
pytest = ">={{ cookiecutter._package_versions.pytest }}"
pytest-cov = ">={{ cookiecutter._package_versions.pytest_cov }}"
pytest-mock = ">={{ cookiecutter._package_versions.pytest_mock }}"
coverage = {extras = ["toml"], version = ">={{ cookiecutter._package_versions.coverage }}"}

[style]
ruff = ">={{ cookiecutter._package_versions.ruff }}"
mypy = ">={{ cookiecutter._package_versions.mypy }}"

[security]
bandit = ">={{ cookiecutter._package_versions.bandit }}"
pip-audit = ">={{ cookiecutter._package_versions.pip_audit }}"

[git]
commitizen = ">={{ cookiecutter._package_versions.commitizen }}"
pre-commit = ">={{ cookiecutter._package_versions.pre_commit }}"

[doc]
mkdocs = ">={{ cookiecutter._package_versions.mkdocs }}"
mkdocs-material = ">={{ cookiecutter._package_versions.mkdocs_material }}"

[requires]
python_version = "{{ cookiecutter.python_version }}"
