default_install_hook_types:
  - pre-commit
  - commit-msg
  - pre-push

default_stages:
  - commit
  - push

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-vcs-permalinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: debug-statements
        exclude: "{{cookiecutter.project_slug}}"
      - id: no-commit-to-branch
      - id: check-merge-conflict
      - id: check-toml
        exclude: "{{cookiecutter.project_slug}}"
      - id: check-yaml
        exclude: "{{cookiecutter.project_slug}}"
      - id: detect-private-key

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black>=24.1.1]

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.13.0
    hooks:
    - id: markdownlint-cli2

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: Run codespell to check for common misspellings in files
        language: python
        types: [text]
        args: ["--write-changes", "--ignore-words", "spelling_wordlist.txt"]

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - post-commit
          - push

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint

  - repo: local
    hooks:
      - id: style-reformat
        name: style-reformat
        stages: [commit]
        language: system
        pass_filenames: false
        entry: inv style.format
        types: [python]

      - id: style-check
        name: style-check
        stages: [push]
        language: system
        pass_filenames: false
        entry: inv style
        types: [python]

      - id: security-check
        name: security-check
        stages: [push]
        language: system
        pass_filenames: false
        entry: inv secure
        types: [python]

      - id: test
        name: test
        stages: [push]
        language: system
        pass_filenames: false
        entry: inv test
        types: [python]
