[tool.commitizen]
name = "cz_conventional_commits"
version = "0.0.1"
tag_format = "$version"
version_files = [
    "cookiecutter.json",
    "pyproject.toml"
]


[tool.poetry]
name = "cookiecutter-python-template"
version = "1.0.0"
description = ""
authors = ["Wei Lee <weilee.rx@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
commitizen = "^1.17.1"
pytest = "^5.4.1"
pytest-cookies = "^0.5.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
