[tool.commitizen]
name = "cz_conventional_commits"
version = "1.8.1"
tag_format = "$version"
version_files = [
    "cookiecutter.json",
    "pyproject.toml"
]


[tool.mypy]
files = [
    "tasks",
    "hooks",
    "tests"
]
ignore_missing_imports = true
follow_imports = "silent"
warn_redundant_casts = true
warn_unused_ignores = true
warn_unused_configs = true
disallow_any_generics = true
disallow_subclassing_any = true
warn_return_any = true


[tool.ruff]
line-length = 88
ignore = [
    "E501",
    "D1",
    "D415",
]

[tool.ruff.isort]
known-first-party = ["tests"]

[tool.ruff.pydocstyle]
convention = "google"


[tool.pytest.ini_options]
minversion = "8.0.0"
testpaths = "tests"
addopts = "--strict-markers"
norecursedirs = [
    ".*",
    "build",
    "dist",
    "CVS",
    "_darcs",
    "{arch}",
    "*.egg",
    "venv",
    "env",
    "virtualenv"
]
markers = [
    "slow"
]


[tool.coverage]
    [tool.coverage.report]
    show_missing = true
    exclude_lines = [
        # Have to re-enable the standard pragma
        'pragma: no cover',

        # Don't complain about missing debug-only code:
        'def __repr__',
        'if self\.debug',

        # Don't complain if tests don't hit defensive assertion code:
        'raise AssertionError',
        'raise NotImplementedError',

        # Don't complain if non-runnable code isn't run:
        'if 0:',
        'if __name__ == .__main__.:'
    ]
    omit = [
        'env/*',
        'venv/*',
        '*/virtualenv/*',
        '*/virtualenvs/*',
        '*/tests/*'
    ]


[tool.poetry]
name = "cookiecutter-python-template"
version = "1.8.1"
description = ""
authors = ["Wei Lee <weilee.rx@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.dev-dependencies]
# task management
invoke = "^2.2.0"
# test
pytest = "^8.0.0"
pytest-cov = "^4.1.0"
pytest-mock = "^3.0.0"
pytest-xdist = "^3.0.2"
pytest-cookies = "^0.6.1"
coverage = "^7.4.1"
# style
ruff = "^0.3.1"
mypy = "^1.8.0"
black = "^24.1.1"
# security
bandit = "^1.6.2"
pip-audit = "^2.4.5"
# git
commitizen = "^3.13.0"
pre-commit = "^3.5.0"
# documentation
mkdocs = "^1.5.3"
mkdocs-material = "^9.5.6"

[build-system]
requires = ["poetry>=1.8.1"]
build-backend = "poetry.masonry.api"
