name: New commit pushed and receive pull request

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python {{ cookiecutter.python_version }}
        uses: actions/setup-python@v1
        with:
          python-version: {{ cookiecutter.python_version }}

      - name: Install dependencies
        run: |
          python -m pip install {% if cookiecutter.dependency_management_tool == 'pipenv' -%}pipenv{%- elif cookiecutter.dependency_management_tool == 'poetry' -%}poetry{% endif %} invoke
          inv env.init-dev --no-pre-commit

      - name: Style check
        run: |
          inv style

      - name: Check vulnerability
        run: |
          inv secure

      - name: Run tests
        run: |
          inv test -a
