name: New pull request received

on: [pull_request, workflow_dispatch]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python {{ cookiecutter.python_version }}
        uses: actions/setup-python@v5
        with:
          python-version: "{{ cookiecutter.python_version }}"

      - name: Install dependencies
        run: |
          python -m pip install -U pip {% if cookiecutter.dependency_management_tool == 'pipenv' -%}pipenv{%- elif cookiecutter.dependency_management_tool == 'poetry' -%}poetry{% endif %} invoke
          inv env.init-dev --no-pre-commit

      - name: Run pre-commit hooks
        run: |
          SKIP=no-commit-to-branch inv run-pre-commit-hooks
