name: {{ cookiecutter.default_branch }} branch updated

on:
  push:
    branches:
      - {{ cookiecutter.default_branch }}

jobs:
  bump-version:
    if: "!startsWith(github.event.head_commit.message, 'bump:')"
    runs-on: ubuntu-latest
    name: "Bump version and create changelog with commitizen"
    steps:
      - name: Check out
        uses: actions/checkout@{{ cookiecutter._actions_checkout_version }}
        with:
          token: {% raw %}${{ secrets.PERSONAL_ACCESS_TOKEN }}{% endraw %}
          fetch-depth: 0
          persist-credentials: false

      - name: Create bump and changelog
        uses: commitizen-tools/commitizen-action@master
        with:
          github_token: {% raw %}${{ secrets.PERSONAL_ACCESS_TOKEN }}{% endraw %}
          branch: {{ cookiecutter.default_branch }}

  publish-github-page:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@{{ cookiecutter._actions_checkout_version }}
        with:
          token: {% raw %}${{ secrets.PERSONAL_ACCESS_TOKEN }}{% endraw %}
          fetch-depth: 0

      - name: Set up Python {{ cookiecutter.python_version }}
        uses: actions/setup-python@v5
        with:
          python-version: "{{ cookiecutter.python_version }}"

      - name: Install doc dependencies
        run: |
          python -m pip install -U pip {% if cookiecutter.dependency_management_tool == 'pipenv' -%}pipenv{%- elif cookiecutter.dependency_management_tool == 'poetry' -%}poetry{% endif %} invoke
          inv env.init-dev --groups-to-install doc

      - name: Build docs
        run: |
          inv doc.build

      - name: Push documentation to Github Page
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          personal_token: {% raw %}${{ secrets.PERSONAL_ACCESS_TOKEN }}{% endraw %}
          publish_branch: gh-pages
          publish_dir: ./site
