name: New commit pushed and receive pull request

on:
  pull_request:
  push:
  workflow_dispatch:
    inputs:
      git_rev:
        description: 'git revision'
        required: false
        default: ''

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: '${{ github.event.inputs.git_rev }}'

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install -U pip poetry invoke
          inv env.init-dev --no-pre-commit

      - name: Style check
        run: |
          inv style

      - name: Check vulnerability
        run: |
          inv secure

      - name: Run tests
        run: |
          inv test
