name: python check

on:
  push:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install pipenv invoke
          inv env.init-dev -w

      - name: Style check
        run: |
          inv style

      - name: Check package vulnerability
        run: |
          inv secure

      - name: Run tests
        run: |
          inv test
